<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994334511147-79qr5ef8jrfhuti17fgamat6nnfdkqsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994334511147-79qr5ef8jrfhuti17fgamat6nnfdkqsv</string>
	<key>API_KEY</key>
	<string>AIzaSyB95yj8d85_Er7t3-x9PNFIabEynr4v1Ts</string>
	<key>GCM_SENDER_ID</key>
	<string>994334511147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-36d71</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-36d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994334511147:ios:a0727201edb868fd6e9a6e</string>
</dict>
</plist>